@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

main {
  padding: 20px;
  font-family: "Heebo", sans-serif;
}

.circle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.no-decoration { 
  text-decoration: none;
}

#portfolio-container {
  width: 80vw;
  margin: auto;
}

@media (min-width: 900px) {
  #portfolio-container {
    width: 75vw;
  }
}

@media (min-width: 1536px) {
  #portfolio-container {
    width: 60vw;
  }
}

h1 {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #F9EDDC;
}

p {
  color: #F9EDDC;
  font-size: 18px;
}

a {
  color: #2D232E;
}

a:hover {
  color: #F9EDDC;
  text-decoration: none;
}

.uk-card {
  height: 100%;
  background-color: #ff3b55;
}

#whole-page {
  background-color: #2D232E;
  min-height: 100vh;
}

#navbar {
  background-color: #DA3E52;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#submit-button, .uk-button-primary {
  background-color: #DA3E52;
}

.uk-navbar-nav li a {
  color: #F9EDDC;
  font-size: 20px;
}

.uk-card-footer img { 
  margin: 2px;
}

.uk-card-default .uk-card-footer {
  border-top: none;
}

.uk-alert-danger {
  background-color: #da3e536b;
}

.uk-alert-danger p {
  color: hsla(35, 71%, 92%, 0.7);
}
