@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

main {
  padding: 20px;
  font-family: "Heebo", sans-serif;
}

.circle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.no-decoration { 
  text-decoration: none;
}

#portfolio-container {
  width: 80vw;
  margin: auto;
}

h1 {
  margin-bottom: 40px;
  color: #F9EDDC;
}

p {
  color: #F9EDDC;
  font-size: 18px;
}

a {
  color: #2D232E;
}

a:hover {
  color: #F9EDDC;
  text-decoration: none;
}

.uk-card {
  height: 100%;
  background-color: #ff3b55;
}

#whole-page {
  background-color: #2D232E;
  height: 100vh;
}

#navbar, #submit-button {
  background-color: #DA3E52;
}

.uk-navbar-nav li a {
  color: #F9EDDC;
  font-size: 20px;
}
